.flex-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.flex-container .courtries-container {
    width: 500px;
    background: white;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}
